<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qiuhui.mapper.StudentMapper">


    <cache/>

    <select id="findStudentWithTags" resultMap="studentTagMap">
        select s.id,s.student_name,s.age,s.email,st.tid,t.tag_name
        from t_student s
        inner join t_student_tag st
        inner join t_tag  t
        on s.id = st.sid
        and st.tid = t.id
        where s.id =#{id}
    </select>

    <resultMap id="studentTagMap" type="com.qiuhui.entity.Student" extends="baseStudent">
        <collection property="tagList" ofType="com.qiuhui.entity.Tag">
            <id column="tid " property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <select id="findStudentBySchoolId" resultMap="studentMap">

        select
        stu.id,stu.student_name,stu.age,stu.email,sch.school_name,sch.tel
        from t_student stu
        inner join t_school sch
        on stu.school_id = sch.id
        where sch.id = #{id}
    </select>

    <resultMap id="baseStudent" type="com.qiuhui.entity.Student">
        <id column="id" property="id"/>
        <result column="student_name" property="name"/>
        <result column="age" property="age"/>
        <result column="email" property="email"/>
    </resultMap>

    <resultMap id="studentMap" type="com.qiuhui.entity.Student" extends="baseStudent">
        <association property="school" javaType="com.qiuhui.entity.School">
            <id column="id" property="id"/>
            <result column="school_name" property="schoolName"/>
            <result column="tel" property="tel"/>
        </association>
    </resultMap>


    <select id="findStudentById" parameterType="int" resultType="Student">  <!--useCache="false"-->

        select id,student_name,age,email from t_student where id = #{id}

    </select>

    <select id="findAll" resultType="Student">

        select * from t_student

    </select>


    <insert id="insertStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
      insert t_student (name,age,email) values (#{name},#{age},#{email});
    </insert>

    <update id="update" parameterType="Student" >

        update t_student set name = #{name} where id =#{id}

    </update>

    <select id="page1"  resultType="student">
        select * from t_student limit #{param1},#{param2}
    </select>

    <select id="page2"  resultType="student">
        select * from t_student limit #{start},#{size}
    </select>

    <select id="page3"  resultType="student">
        select * from t_student limit #{start},#{size}
    </select>

    <delete id="delete" parameterType="int" >
        delete from t_student where id = #{id}

    </delete>

</mapper>